<div class="container-fluid">
    <div class="row flex-nowrap">
      <%- include('../partials/admin-sidebar') %>
      <div class="col py-3">
        <div class="col overflow-auto h-100">
          <div class="bg-light border rounded-3 p-3">
            <h2 class="mb-3 display-4">Edit user</h2>
            <form method="POST" action="/admin/users?_method=PUT" enctype="multipart/form-data">
              <input type="hidden" name="id" value="<%= user.id %>">
              <input type="hidden" name="oldEmail" value="<%= user.oldEmail || user.email %>">
              <!-- <input type="hidden" name="oldISBN" value="<%= user.oldISBN || user.isbn %>"> -->
              <div class="mb-3">
                <label  class="form-label">User ID</label>
                <input type="text"  disabled  value="<%= user._id %>" required>
                <% if (typeof errors !== 'undefined') { %>
                  <% errors.forEach(err => { %>
                    <% if (err.param === 'email') { %>
                      <p class="text-danger fw-bold mb-0"><%= err.msg %></p>
                    <% } %>
                  <% }) %>
                <% } %>
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>" required >
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" value="<%= user.email %>" required>
              </div>
              <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <select class="form-select" name="role" required>
                  <option value="" disabled>Choose Role</option>
                  <option value="0" <%= user.role === 0 ? 'selected' : '' %>>Admin</option>
                  <option value="1" <%= user.role === 1 ? 'selected' : '' %>>Customer</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="image-preview" class="form-label">Image Preview</label><br>
                <img class="image-preview" src="<%= user.profilePicturePath %>" alt="image-preview" width="150" height="200">
              </div>
              <div class="mb-3">
                <label for="profile_picture" class="form-label">Profile Picture</label>
                <input class="form-control" type="file" id="profile_picture" name="profile_picture">
              </div>
              <div class="float-end mb-5">
                <a href="/admin/user" class="btn btn-secondary">Back to user list</a>
                <button type="submit" class="btn btn-primary" onsubmit="preventDefault()">Update user</button>
              </div>
              <br>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    const profile_picture = document.querySelector('#profile_picture')
    const imagePreview = document.querySelector('.image-preview')
  
    profile_picture.addEventListener('change', () => {
      const url = URL.createObjectURL(profile_picture.files[0])
      imagePreview.src = url
    });
  </script>